<section id="page-about">
  <h2 class="heading">Over</h2>

  <p>
    Al mijn hele leven hou ik ervan om <em>mooie mediaprojecten</em> te maken.
    Websites, muziek, films, het maakt in dat opzicht niet uit.
    <strong>Als het maar gelikt is.</strong> Om trots op te zijn. Iets moois.
    Mooie dingen maak je <em>samen</em> en kunnen altijd nog mooier.
    Daarom ben ik ook altijd op zoek naar meer om te <strong>leren</strong>.
  </p>

  <p>
    Als <em>lead developer</em> vind ik het belangrijk om alle teamgenoten de kans te geven hun meningen in te brengen en in hun <strong>kracht</strong> te kunnen staan.
    Een team dat zich goed voelt doet ook goed werk.
  </p>

  <p>
    Al <em>sinds 2010</em> heb ik professionele ervaring met het maken van websites.
    Als developer, UX designer  en copywriter (Nederlands en Engels) maar later ook als project manager, product owner en lead developer.
  </p>

  <p>
    In 2019 heb ik gesproken op de Angular NL conferentie in Amsterdam.
    <a class="button button--secondary button-youtube" href="https://www.youtube.com/watch?v=LfCTykaCfPk" target="_blank">
      <div class="button__content">
        <img class="button-youtube__logo" src="/assets/ui/youtube-logo.svg" alt="Logo van YouTube">
        <span class="button-youtube__label">Bekijk op YouTube</span>
      </div>
    </a>
  </p>

  <p>
    Ook heb ik wel eens wat artikelen geschreven over development. Deze publiceer ik dan op Medium.
    <a class="button button--primary button-medium" href="https://medium.com/@coenkoopmans/" target="_blank">
      <div class="button__content">
        <img class="button-medium__logo" src="/assets/ui/medium-logo.svg" alt="Logo van Medium">
        <span class="button-medium__label">Lees op Medium</span>
      </div>
    </a>
  </p>

  <p>
    Naast mijn werk doe ik ook filmprojecten met <strong><a href="http://www.baskakes.nl" target="_blank">mijn neef Bas Kakes</a></strong>.
    Hierbij help ik met onder andere geluidstechniek, project management, schrijfwerk en presentatie.
    Tussen 2018 en 2021 hebben wij bijvoorbeeld gewerkt aan de documentaire <em><a href="https://www.dordtfilm.nl" target="_blank">Dordrecht door de jaren heen</a></em>.
    In deze film tonen we de passie die onze opa had voor zijn stad door te kijken naar wat Dordrecht zo bijzonder maakt en de geschiedenis van de stad.
    <strong><a href="https://www.ad.nl/dordrecht/bas-wilde-zijn-opa-filmen-het-werd-een-anderhalf-uur-uur-durende-bioscoopfilm-over-dordrecht~aaeecbb7/" target="_blank">Het AD</a></strong>
    en
    <strong><a href="https://www.rtvdordrecht.nl/neven+brengen+met+film+%E2%80%98dordrecht+door+de+jaren+heen%E2%80%99+ode+aan+de+stad/nieuws/item?1167804" target="_blank">RTV Dordrecht</a></strong>
    hebben hier ook aandacht aan geschonken.
  </p>

  <p>
    Daarnaast <em><a href="http://soundcloud.com/coen-koopmans/" target="_blank">maak ik ook graag muziek</a></em>. Voor de lol natuurlijk, maar soms ook voor die films.
  </p>

  <p>
    Ik ben {{age}} en woon in Nijkerk met mijn vrouw Dyonne en twee konijnen.
    Ik hou van lekker bier, gamen, sim racing, series, zingen/piano/gitaar spelen en internet memes.
  </p>

  <p>Zie ook mijn <em><a href="https://www.linkedin.com/in/coen-koopmans-3b15519a/" target="_blank">LinkedIn-profiel</a></em>.</p>
</section>
