@import '../../shared/base';

.button-youtube, .button-medium {


  @include breakpoint('desktop') {
    max-width: 40vw;
  }
}

.button-medium__label, .button-youtube__label {
  align-self: center;
}

.button-youtube__label {
  padding-left: getVw(getVwSizeForScreenWidth(8, 'mobile'));
}

.button-youtube__logo {
  width: getVw(getVwSizeForScreenWidth(30, 'mobile'));
  height: getVw(getVwSizeForScreenWidth(30, 'mobile'));

  margin: getVw(getVwSizeForScreenWidth(-3, 'mobile'));

  @include breakpoint('tablet') {
    width: getVw(getVwSizeForScreenWidth(50, 'tablet'));
    height: getVw(getVwSizeForScreenWidth(50, 'tablet'));
  }
  @include breakpoint('desktop') {
    width: getVw(getVwSizeForScreenWidth(50, 'desktop'));
    height: getVw(getVwSizeForScreenWidth(50, 'desktop'));
  }
}

.button-medium {

  @include breakpoint('desktop') {
    max-width: 40vw;
  }
}

.button-medium__label {
  padding-left: getVw(getVwSizeForScreenWidth(5, 'mobile'));
}

.button-medium__logo {
  width: getVw(getVwSizeForScreenWidth(30, 'mobile'));
  height: getVw(getVwSizeForScreenWidth(30, 'mobile'));

  margin: getVw(getVwSizeForScreenWidth(-3, 'mobile'));

  @include breakpoint('tablet') {
    width: getVw(getVwSizeForScreenWidth(50, 'tablet'));
    height: getVw(getVwSizeForScreenWidth(50, 'tablet'));
  }
  @include breakpoint('desktop') {
    width: getVw(getVwSizeForScreenWidth(50, 'desktop'));
    height: getVw(getVwSizeForScreenWidth(50, 'desktop'));
  }
}
