<section id="about">
  <h2 class="heading">Over</h2>

  <p>
    Ik ben een developer die <em>altijd</em> op zoek is naar manieren om mezelf en mijn werk te <em>verbeteren</em>.
    Goed, prettig en secuur <strong>samenwerken</strong> is daarbij <strong>essentieel</strong>:
    de beste dingen maak je in teams. Ook ben ik een fan van <em>object oriented</em> werken,
    waarbij <em>functional (reactive) programming</em> geïntegreerd kan worden.
  </p>

  <p>
    Graag gebruik ik moderne frameworks en technieken waar zij
    <strong>projecten schaalbaar</strong> en de <strong>workflow efficiënt</strong> houden,
    zonder in te leveren op flexibiliteit. Naar mijn idee is de echte uitdaging met development om groeiende projecten <em>onderhoudbaar</em> te houden.
    Daarom werk ik graag met bijvoorbeeld Angular, Rxjs, EcmaScript 6+, Webpack,
    TypeScript, SCSS en HTML5.
  </p>
    
  <p>
    Ik ben {{age}} en woon in Zeist met mijn vriendin en twee konijnen.
    Ik hou van lekker bier, gamen, series, zingen/gitaar spelen en internet memes.
  </p>
</section>