@import "variables";
@import "functions";
@import "mixins";
@import "typography";
@import "layout";

@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto|Roboto+Slab:300,700');

* {
  box-sizing: border-box;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $color-black;
  font-family: $font-regular;
  color: $color-white;
  position: relative;

  padding-bottom: getVw(getVwSizeForScreenWidth(20, 'mobile'));
  @include breakpoint('tablet') {
    padding-bottom: getVw(getVwSizeForScreenWidth(20, 'tablet'));
  }
  @include breakpoint('desktop') {
    padding-bottom: getVw(getVwSizeForScreenWidth(40, 'desktop'));
  }
}

a:focus, button:focus {
  outline-color: $color-blue;
}

::selection {
  background: $color-white;
  color: $color-black;
}
