// Containers

.container {
  padding: calc(#{$padding-top-mobile}px - 3.5vw) #{$padding-left-right-mobile}px 0 #{$padding-left-right-mobile}px;
  @include breakpoint('tablet') {
    padding: calc(#{$padding-top-tablet}px - 1vw) #{$padding-left-right-tablet}px 0 #{$padding-left-right-tablet}px
  }
  @include breakpoint('desktop') {
    padding: #{$padding-top-desktop}px #{$padding-left-right-desktop}px 0 #{$padding-left-right-desktop}px
  }
}

.container--cancel {
  margin-left: #{-$padding-left-right-mobile}px;
  margin-right: #{-$padding-left-right-mobile}px;
  @include breakpoint('tablet') {
    margin-left: #{-$padding-left-right-tablet}px;
    margin-right: #{-$padding-left-right-tablet}px;
  }
  @include breakpoint('desktop') {
    margin-left: #{-$padding-left-right-desktop}px;
    margin-right: #{-$padding-left-right-desktop}px;
  }
}