@import "variables";
@import "functions";

@mixin dropShadow() {
  filter: drop-shadow($shadow-main);
}

@mixin textShadow($color) {
  text-shadow: emFromPx(0.5) emFromPx(0.5) 0 $color;
}

@mixin breakpoint($name) {
  @if $name == desktop {
    @media (min-width: 1080px) { @content; }
  }
  @else if $name == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $name == low-height {
    @media (max-height: 600px) and (max-width: 1080px) and (orientation: landscape) { @content; }
  }
  @else {
    // Mobile
    @media (max-width: 767px) { @content; }
  }
}

@mixin animation-jiggle($length: 6, $delay: 0) {
  animation: jiggle #{$length}s #{$delay}s alternate ease-in-out infinite;
}

@keyframes jiggle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

@mixin animation-bounce() {
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10%);
  }
  30% {
    transform: translateY(-5%);
  }
}
