h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
}

p {
  font-size: getVw($font-size-regular);
  margin-bottom: getVw(getVwSizeForScreenWidth(25, 'mobile'));
  line-height: 1.75em;
  text-align: justify;

  @include breakpoint('tablet') {
    font-size: getVw($font-size-regular * $scale-factor-tablet-vw);
    margin-bottom: getVw(getVwSizeForScreenWidth(25, 'tablet'));
  }
  @include breakpoint('desktop') {
    font-size: getVw($font-size-regular * $scale-factor-desktop-vw);
    margin-bottom: getVw(getVwSizeForScreenWidth(15, 'desktop'));
  }
}
p > em {
  color: $color-blue;
  font-weight: bold;

  & > a {
    color: $color-blue;
  }
}
p > strong {
  color: $color-red;
  font-weight: bold;

  & > a {
    color: $color-red;
  }
}

em {
  font-style: normal;
}

pre {
  font-family: $font-mono;
}

$heading-decoration-distance: 0.5em;

.heading {
  margin-bottom: 1rem;

  &:before, &:after {
    position: absolute;
    color: $color-gray-dark;
  }
  &:before {
    content: "{";
    left: -$heading-decoration-distance;
  }
  &:after {
    content: "}";
    right: -$heading-decoration-distance;
  }
}

h2.heading {
  display: inline-block;
  position: relative;
  font-size: getVw($font-size-heading);
  font-weight: 700;

  @include breakpoint('tablet') {
    font-size: getVw($font-size-heading * $scale-factor-tablet-vw);
  }
  @include breakpoint('desktop') {
    font-size: getVw($font-size-heading * $scale-factor-desktop-vw);
  }
}
