// Colors

$color-black: #1A1A1A;
$color-white: #FFFFFF;

$color-gray-dark: #2F2F2F;

$color-red: #EB4444;
$color-blue: #0097A7;

// Fonts

$font-regular: 'Roboto', Helvetica, Arial, sans-serif;
$font-headings: 'Roboto Slab', 'Roboto', Helvetica, Arial, sans-serif;
$font-mono: 'Fira Mono', "Courier New", Courier, monospace;

$font-size-regular: 18px;
$font-size-heading: 45px;

// Scaling

// Arbitrary, lifted from designs - in px (but can't add px unit due to calculation bugs with odd units in scss)
$base-screen-size-mobile: 320;
$base-screen-size-tablet: 768;
$base-screen-size-desktop: 1440;

$scale-factor-mobile: 1;
$scale-factor-tablet: 1.5;
$scale-factor-desktop: 1.9;

// The scale factor needed to multiply elements sizes for tablet/desktop, based on design base sizes - for vw use cases
// Explanation for later reference: a tablet, for example, has a way wider screen size than a mobile phone. (Both in portrait.)
// When using a size relative to the Viewport Width, the size of the element in absolutes (px) might be a factor of say 1.5
// or 1.9, but the size in relative terms will decrease. These calculations map the absolute values to relative ones.
$scale-factor-tablet-vw: ($scale-factor-tablet / $base-screen-size-tablet) / ($scale-factor-mobile / $base-screen-size-mobile);
$scale-factor-desktop-vw: ($scale-factor-desktop / $base-screen-size-desktop) / ($scale-factor-mobile / $base-screen-size-mobile);

$browser-context-em: 16; // 16px = 1em by default

// Global padding

$padding-left-right-mobile: 25px;
$padding-left-right-tablet: 40px;
$padding-left-right-desktop: 50px;

$padding-top-mobile: 40px;
$padding-top-tablet: 60px;
$padding-top-desktop: 50px;

// Shadows

$shadow-main: 1px 1px 1px $color-black;
$shadow-white: 1px 1px 1px $color-white;
