<section class="intro">
    <h1 class="name">
        Ik ben
        <span class="name--first">Coen</span> <span class="name--last">Koopmans<em class="name--lastEmphasis">.</em></span>
    </h1>
    <h2 class="tagLine">Front-end developer <em class="tagLine--emphasis">met passie</em> voor schone code.</h2>

    <button class="scrollDownButton" type="button">
        <svg width="63px" height="22px" viewBox="0 0 63 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g fill-rule="nonzero" fill="#FFFFFF">
                <polygon id="Path-3" points="0 8.34482759 31.5 22 63 8.34482759 60 0 31.5 12.137931 3 0"></polygon>
            </g>
        </svg>
    </button>
</section>