@import '../variables.scss';

// Divide pixel amount from design by 320, the smallest denominator screen width, multiply by 100 to get a percentage
// Sass doesn't seem to like calculations here...
$font-size-h1-small: 9.375vw; // 30px
$font-size-h1-big: 15.9375vw; // 51px
$font-size-tagLine: 5.625vw; // 18px

$name-first-last-line-height: 17.1875vw;
$tagLine-line-height: 10.9375vw;

$font-size-textContainer-scale-factor-tablet: 0.625;

$scroll-button-width: 42px;
$scroll-button-height: 15px;
$scroll-button-padding: 10px;

$hexagon-width: 257px;
$hexagon-height: 293px;
$hexagon-margin: 12px;

$hexagon-width-tablet: $hexagon-width * 1.6;
$hexagon-height-tablet: $hexagon-height * 1.6;
$hexagon-margin-tablet: $hexagon-margin * 1.6;

$low-height-scale-factor: 0.6;

.intro {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 39px 25px 0 25px;

  @include breakpoint('tablet') {
    padding: 7.8125vw 5.2083vw 0 5.2083vw;
  }

  @include breakpoint('desktop') {
    padding: 5.1389vw 3.472vw 0 3.472vw;
  }
}

.textContainer {
  @include breakpoint('low-height') {
    zoom: $low-height-scale-factor;
  }
}

.name, .tagLine {
  position: relative;
  z-index: 2;
}

.name {
  font-weight: 300;
  font-size: $font-size-h1-small;
  z-index: 2;
  @include text-shadow(rgba($color-black, 0.8));
  @include breakpoint('tablet') {
    font-size: $font-size-h1-small * $font-size-textContainer-scale-factor-tablet;
  }
}
.name--first, .name--last {
  display: block; // Force new line by setting block-level rendering
  font-weight: 700;
  font-size: $font-size-h1-big;
  line-height: $name-first-last-line-height;
  @include breakpoint('tablet') {
    font-size: $font-size-h1-big * $font-size-textContainer-scale-factor-tablet;
    line-height: $name-first-last-line-height * $font-size-textContainer-scale-factor-tablet;
  }
}
.name--lastEmphasis {
  color: $color-red;
}

.tagLine {
  font-family: $font-mono;
  font-size: $font-size-tagLine;
  font-weight: 400;
  line-height: $tagLine-line-height;
  margin-top: 40px;
  z-index: 2;
  @include text-shadow($color-black);
  @include breakpoint('tablet') {
    font-size: $font-size-tagLine * $font-size-textContainer-scale-factor-tablet;
    line-height: $tagLine-line-height * $font-size-textContainer-scale-factor-tablet;
  }
}
.tagLine--emphasis {
  color: $color-blue;
}

.scrollDownButton {
  box-sizing: content-box;
  width: $scroll-button-width;
  height: $scroll-button-height;
  position: fixed;
  bottom: 0;
  padding: $scroll-button-padding;
  align-self: center;
  z-index: 1337;
  @include drop-shadow();

  @include breakpoint('tablet') {
    width: $scroll-button-width * $scale-factor-tablet;
    height: $scroll-button-height * $scale-factor-tablet;
    padding: $scroll-button-padding * $scale-factor-tablet;
  }
  @include breakpoint('desktop') {
    width: $scroll-button-width * $scale-factor-desktop;
    height: $scroll-button-height * $scale-factor-desktop;
    padding: $scroll-button-padding * $scale-factor-desktop;
  }
}
.scrollDownButton--image {
  width: inherit;
  height: inherit;
}

.introBackground {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: $hexagon-width * 1.5 + $hexagon-margin;
  height: $hexagon-height * 1.8;
  overflow: hidden;

  @include breakpoint('tablet') {
    width: $hexagon-width-tablet * 1.5 + $hexagon-margin-tablet;
    height: $hexagon-height-tablet * 1.8;
  }
  @include breakpoint('low-height') {
    zoom: $low-height-scale-factor;
  }
}

.introBackground__hexagon {
  width: $hexagon-width;
  height: $hexagon-height;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint('tablet') {
    width: $hexagon-width-tablet;
    height: $hexagon-height-tablet;
  }
}

.introBackground__hexagon--fill {
  background-image: url('/assets/ui/hexagon-fill.svg');
  bottom: 0;
  right: -$hexagon-width / 2;

  @include breakpoint('tablet') {
    right: -$hexagon-width-tablet / 2;
  }
}

.introBackground__hexagon--outline {
  background-image: url('/assets/ui/hexagon-outline.svg');
  right: $hexagon-margin / 2;
  bottom: $hexagon-height * 0.79;

  @include breakpoint('tablet') {
    right: $hexagon-margin-tablet / 2;
    bottom: $hexagon-height-tablet * 0.79;
  }
}

.introBackground__hexagon--image {
  background-image: url('/assets/coen-koopmans-picture.png');
  bottom: 0;
  right: ($hexagon-width / 2) + $hexagon-margin;

  @include breakpoint('tablet') {
    right: ($hexagon-width-tablet / 2) + $hexagon-margin-tablet;
  }
}