@import '../shared/base';

$font-size-h1-small: getVwSizeForScreenWidth(30, 'mobile');
$font-size-h1-big: getVwSizeForScreenWidth(51, 'mobile');
$font-size-tagLine: getVwSizeForScreenWidth(18, 'mobile');

$name-first-last-line-height: getVwSizeForScreenWidth(62, 'mobile');
$tagLine-line-height: getVwSizeForScreenWidth(35, 'mobile');

$scroll-button-width: getVwSizeForScreenWidth(42, 'mobile');
$scroll-button-height: getVwSizeForScreenWidth(15, 'mobile');
$scroll-button-padding: 10px;

$hexagon-width: getVwSizeForScreenWidth(214, 'mobile');
$hexagon-height: getVwSizeForScreenWidth(244, 'mobile');
$hexagon-margin: getVwSizeForScreenWidth(12, 'mobile');

$hexagon-width-tablet: $hexagon-width * $scale-factor-tablet-vw;
$hexagon-height-tablet: $hexagon-height * $scale-factor-tablet-vw;
$hexagon-margin-tablet: $hexagon-margin * $scale-factor-tablet-vw;

$hexagon-width-desktop: $hexagon-width * $scale-factor-desktop-vw;
$hexagon-height-desktop: $hexagon-height * $scale-factor-desktop-vw;
$hexagon-margin-desktop: $hexagon-margin * $scale-factor-desktop-vw;

$low-height-scale-factor: 0.6;

.intro {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: #{$padding-top-mobile}px #{$padding-left-right-mobile}px 0 #{$padding-left-right-mobile}px;

  @include breakpoint('tablet') {
    padding: #{$padding-top-tablet}px #{$padding-left-right-tablet}px 0 #{$padding-left-right-tablet}px
  }

  @include breakpoint('desktop') {
    padding: #{$padding-top-tablet}px #{$padding-left-right-tablet}px 0 #{$padding-left-right-tablet}px
  }
}

.textContainer {
  @include breakpoint('low-height') {
    zoom: $low-height-scale-factor;
  }
}

.name, .tagLine {
  position: relative;
  z-index: 2;
}

.name {
  font-weight: 300;
  font-size: getVw($font-size-h1-small);
  z-index: 2;
  @include textShadow(rgba($color-black, 0.8));
  @include breakpoint('tablet') {
    font-size: getVw($font-size-h1-small * $scale-factor-tablet-vw);
  }
  @include breakpoint('desktop') {
    font-size: getVw($font-size-h1-small * $scale-factor-desktop-vw);
  }
}
.name--first, .name--last {
  display: block; // Force new line by setting block-level rendering
  font-weight: 700;
  font-size: getVw($font-size-h1-big);
  line-height: getVw($name-first-last-line-height);
  @include breakpoint('tablet') {
    font-size: getVw($font-size-h1-big * $scale-factor-tablet-vw);
    line-height: getVw($name-first-last-line-height * $scale-factor-tablet-vw);
  }
  @include breakpoint('desktop') {
    font-size: getVw($font-size-h1-big * $scale-factor-desktop-vw);
    line-height: getVw($name-first-last-line-height * $scale-factor-desktop-vw);
  }
}
.name--lastEmphasis {
  color: $color-red;
}

.tagLine {
  font-family: $font-mono;
  font-size: getVw($font-size-tagLine);
  font-weight: 400;
  line-height: getVw($tagLine-line-height);
  margin-top: getVw(getVwSizeForScreenWidth(20, 'mobile'));
  z-index: 2;
  @include textShadow($color-black);
  @include breakpoint('tablet') {
    font-size: getVw($font-size-tagLine * $scale-factor-tablet-vw);
    line-height: getVw($tagLine-line-height * $scale-factor-tablet-vw);
  }
  @include breakpoint('desktop') {
    font-size: getVw($font-size-tagLine * $scale-factor-desktop-vw);
    line-height: getVw($tagLine-line-height * $scale-factor-desktop-vw);
  }
}
.tagLine--emphasis {
  color: $color-blue;
}

.scrollDownButton {
  box-sizing: content-box;
  width: getVw($scroll-button-width);
  height: getVw($scroll-button-height);
  position: fixed;
  bottom: 0;
  padding: $scroll-button-padding;
  align-self: center;
  z-index: 1337;
  @include dropShadow();

  @include breakpoint('tablet') {
    width: getVw($scroll-button-width * $scale-factor-tablet-vw);
    height: getVw($scroll-button-height * $scale-factor-tablet-vw);
    padding: $scroll-button-padding * $scale-factor-tablet;
  }
  @include breakpoint('desktop') {
    width: getVw($scroll-button-width * $scale-factor-desktop-vw);
    height: getVw($scroll-button-height * $scale-factor-desktop-vw);
    padding: $scroll-button-padding * $scale-factor-desktop;
  }
}
.scrollDownButton--image {
  width: inherit;
  height: inherit;
}

.introBackground {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: getVw($hexagon-width * 1.5 + $hexagon-margin);
  height: getVw($hexagon-height * 1.8);
  overflow: hidden;

  @include breakpoint('tablet') {
    width: getVw($hexagon-width-tablet * 1.5 + $hexagon-margin-tablet);
    height: getVw($hexagon-height-tablet * 1.8);
  }
  @include breakpoint('desktop') {
    width: getVw($hexagon-width-desktop * 1.5 + $hexagon-margin-desktop);
    height: getVw($hexagon-height-desktop * 1.8);
  }
  @include breakpoint('low-height') {
    zoom: $low-height-scale-factor;
  }
}

.introBackground__hexagon {
  width: getVw($hexagon-width);
  height: getVw($hexagon-height);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint('tablet') {
    width: getVw($hexagon-width-tablet);
    height: getVw($hexagon-height-tablet);
  }
  @include breakpoint('desktop') {
    width: getVw($hexagon-width-desktop);
    height: getVw($hexagon-height-desktop);
  }
}

.introBackground__hexagon--fill {
  background-image: url('/assets/ui/hexagon-fill.svg');
  bottom: 0;
  right: getVw(-($hexagon-width) / 2);

  @include breakpoint('tablet') {
    right: getVw(-($hexagon-width-tablet) / 2);
  }

  @include breakpoint('desktop') {
    right: getVw(-($hexagon-width-desktop) / 2);
  }
}

.introBackground__hexagon--outline {
  background-image: url('/assets/ui/hexagon-outline.svg');
  right: getVw($hexagon-margin / 2);
  bottom: getVw($hexagon-height * 0.79);

  @include breakpoint('tablet') {
    right: getVw($hexagon-margin-tablet / 2);
    bottom: getVw($hexagon-height-tablet * 0.79);
  }
  @include breakpoint('desktop') {
    right: getVw($hexagon-margin-desktop / 2);
    bottom: getVw($hexagon-height-desktop * 0.79);
  }
}

.introBackground__hexagon--image {
  background-image: url('/assets/coen-koopmans-picture.png');
  bottom: 0;
  right: getVw(($hexagon-width / 2) + $hexagon-margin);

  @include breakpoint('tablet') {
    right: getVw(($hexagon-width-tablet / 2) + $hexagon-margin-tablet);
  }
  @include breakpoint('desktop') {
    right: getVw(($hexagon-width-desktop / 2) + $hexagon-margin-desktop);
  }
}