<section class="intro" id="page-intro">
    <div class="textContainer">
        <h1 class="name">
            <span class="name--first">Coen</span> <span class="name--last">Koopmans<em class="name--lastEmphasis">.</em></span>
        </h1>
        <h2 class="tagLine">Front-end developer <em class="tagLine--emphasis">met passie</em> voor schone code.</h2>
    </div>

    <button (click)="scrollDown()" class="scrollDownButton" type="button" aria-hidden="true">
        <img class="scrollDownButton--image" src="/assets/ui/arrow-down.svg" alt="Pijl naar beneden: indicatie dat hieronder nog meer mogelijk is">
    </button>

    <div class="introBackground">
        <div class="introBackground__hexagon introBackground__hexagon--outline"></div>
        <div class="introBackground__hexagon introBackground__hexagon--image"></div>
        <div class="introBackground__hexagon introBackground__hexagon--fill"></div>
    </div>
</section>
