$color-black: #1A1A1A;
$color-white: #FFFFFF;

$color-gray-dark: #2F2F2F;

$color-red: #EB4444;
$color-blue: #0097A7;

$font-regular: 'Roboto', Helvetica, Arial, sans-serif;
$font-headings: 'Roboto Slab', 'Roboto', Helvetica, Arial, sans-serif;
$font-mono: 'Fira Mono', "Courier New", Courier, monospace;

$font-size-regular: 18px;
$font-size-heading: 45px;