<section id="skills">
    <h2 class="heading">Skills</h2>

    <div class="skills">
        <h3 class="skills__item">HTML5</h3>
        <h3 class="skills__item">(S)CSS</h3>
        <h3 class="skills__item">UI/UX</h3>
        <h3 class="skills__item">Angular</h3>
        <h3 class="skills__item">OOP</h3>
        <h3 class="skills__item">Git</h3>
        <h3 class="skills__item">ESNext</h3>
        <h3 class="skills__item">TypeScript</h3>
        <h3 class="skills__item">PHP</h3>
        <h3 class="skills__item">Unit Testing</h3>
        <h3 class="skills__item">Sketch</h3>
        <h3 class="skills__item">UCD</h3>
        <h3 class="skills__item">PM</h3>
    </div>
</section>