<section id="skills">
    <h2 class="heading">Skills</h2>

    <div class="skills">
        <div class="skills__item"><h3 class="skills__itemLabel">ESNext / Javascript</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">Angular</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">TypeScript</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">(S)CSS</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">HTML5</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">UX Design</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">Object-oriented programming</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">Functional programming</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">Git</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">PHP</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">Project Management</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">Sketch</h3></div>
        <div class="skills__item"><h3 class="skills__itemLabel">User Centric Design</h3></div>
        <div class="skills__item skills__item--filler"></div><!-- TODO: this shouldn't be an h3 -->
    </div>
</section>