<button class="menu-button" type="button" [ngClass]="{'menu-button--close': menuOpen}" (click)="toggleMenu()">
    <img class="menu-button--image" [src]="menuImage" aria-hidden="true">
</button>
<div class="menu-container" [ngClass]="{'menu-container--open': menuOpen}">
  <menu class="menu">
    <li class="menu__item">
      <a class="menu__link" (click)="navigate(pages.Intro, $event)">Intro</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" (click)="navigate(pages.Skills, $event)">Skills</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" (click)="navigate(pages.About, $event)">Over mij</a>
    </li>
  </menu>
</div>
